[2021-11-04 16:54] mgkwill opened #3 "Add CI to lava-dl"
Add pybuilder config and github workflow to lava-dl

[2021-11-04 17:26] #3 closed

[2021-11-22 21:32] bamsumit opened #12 "Uniform namespace declaration across all lava repos"
* remote explicit namespace in src/lava

[2021-11-24 14:37] #12 closed

[2021-11-29 13:25] diana273 opened #14 "Runtime errors related to ninja_build"
I tried to run your tutorial from bootstrap/mnist/train.ipynb, but it crashes because of runtime errors related to ninja_build (see details below). When I switch to "device = torch.device('cpu')" it works fine, but there is a problem when I use "device = torch.device('cuda')". I have all the requirements properly installed. While troubleshooting the build.ninja file I discovered that the x86 VS li

[2021-11-30 19:13] mgkwill commented on #14
Hi @diana273 thanks for this bug issue!

It looks like @bamsumit is looking into it.

[2021-12-01 15:31] GoHeFa opened #20 "lava-dl installation: BUILD FAILED - RuntimeError: CUDA error: no kernel image is available for execution on the device"
I tried to build *lava-dl* on my local machine with an RTX 3090 (after successfully installing *lava* and *lava-optimization*) and followed therefor the given installation instructions. (I already had a working CUDA 11.5 installation on this machine.)
Unfortunately it reveived this error:
[code]

Is the RTX 3090 currently not supported? How to resolve this issue? Are there otherwise any workaround

[2021-12-07 18:08] bamsumit commented on #20
Hi @GoHeFa, it looks like your PyTorch installation does not support RTX3090 (cuda compute capability 8.6, i.e. sm 86). This is from your error message
[code]
I am assuming you installed the latest PyTorch version. __The solution is to build your PyTorch locally.__

Before you do that, let's confirm the following things
* Are you able to use GPU with your torch?
[code]
* What are the output of fol

[2021-12-08 12:02] GoHeFa commented on #20
@bamsumit First of all, thanks for your response.
I rechecked the torch version compatibility with another project (pure python/PyTorch with GPU usage) I am working on.
With `torch == 1.8.1` and `torchvision == 0.9.1` successfully installed (with pip3), during runtime I get the error:
[code]
After successfully installing the latest PyTorch version via: `pip3 install torch==1.10.0+cu113 torchvision

[2021-12-08 13:13] alexggener opened #21 "ipython package not included in requirements.txt"
When creating and installing a venv for LAVA from scratch, pip does not include ipython package. This package is needed for the Spike to Spike Regression: Oxford in lava-dl. Should this package be included in the requirements.txt for lava-dl?

Cheers,
Alex.

[2021-12-08 15:37] Barchid opened #22 "[PilotNet Tutorial]: Google Drive URL dataset is not valid"
Hello,

I tried to run the tutorial about car steering prediction using a sigma-delta neural network. Unfortunately, the Google Drive URL referenced in `lava-dl/tutorials/lava/lib/dl/slayer/pilotnet/pilotnet_dataset.py` is not working anymore. For information, the referenced URL is the following: https://drive.google.com/file/d/0B-KJCaaF7elleG1RbzVPZWV4Tlk/view?usp=sharing .

I also checked the UR

[2021-12-08 16:44] bamsumit commented on #20
So are you able to run lava-dl with `torch 1.10.0+cu113` or not?

[2021-12-08 17:17] GoHeFa commented on #20
Unfortunately I am noch able to build lava-dl with `torch 1.10.0+cu113` (while normal PyTorch GPU execution works fine).
[code]

[2021-12-08 17:20] bamsumit commented on #22
Hi @Barchid, thanks for letting us know. The link indeed does not work now. I have filed an issue in the original repo [here](https://github.com/AutoDeep/PilotNet/issues/1). We will have to wait until the link gets fixed

[2021-12-08 17:59] bamsumit commented on #21
@alexggener, thanks for letting us know. Hope that didn't block you from running the tutorials. You may create a pull request with `jupyterlab` in `requirements.txt`.

[2021-12-08 19:48] bamsumit commented on #20
I would try re-installing nvidia drive and nvcc compiler for `cuda 11.3` and try again. If that does not work, I am afraid you will have to build pytorch from source locally.

[2021-12-11 05:25] bamsumit opened #24 "Hardware neuron parameters export and fixed precision instruction precision compatibility"
Some cuda implementations are not compatible with hardware neuron instruction. Few of them are missing hardware prarameter export.

[2021-12-21 10:23] michaelneumeier opened #26 "Multi-GPU Training"
Is training on multiple GPUs possible with the current lava-dl release?

I distribute the batch for the nmnist tutorial on two GPUs with:
_net = Network()
net = nn.DataParallel(net, device_ids=[0, 1])
net.to(device)_

The training for the first epoch runs as expected. In the second epoch I get an error during backpropagation:
_Traceback (most recent call last):
  File "nmnist.py", line 220, in <mo

[2021-12-21 17:54] bamsumit commented on #26
Hi @michaelneumeier can you try this.
[code]

[2021-12-21 20:03] michaelneumeier commented on #26
Thank you @bamsumit for the quick reply.

I cannot run the exact code that you proposed. For this I get a device mismatch between the input tensor and weight tensor. Thus I tried this:
[code]
Then this code snippet works.

If I run it before the training loop, I can even run the training for several epochs without receiving the backprop error message from the previous comment.
But without the net.

[2021-12-21 20:15] bamsumit commented on #26
Glad you can run it now. The slayer models support _runtime shape identification_. This means that we don't need to specify the shape of a layer. Instead they are identified on runtime. With multi GPU, the shape update happens on the spawned dataparallel copy but is not reflected back on the main model, so it needs to be done __on the main copy once with a dummy load__ before the multiGPU run. Thi

[2021-12-21 20:15] #26 closed

[2022-01-06 21:15] mgkwill opened #28 "Pull request & issue templates"
Pull request & issue templates to standardize how people open pull requests and align with lava-nc/lava.

[2022-01-07 18:30] #28 closed

[2022-01-10 22:29] bamsumit opened #29 "Network Exchange Implementation"
Objective of issue:
Network exchange library implementation for automatic generation of Lava process from Lava-DL-SLAYER trained network.

**Lava version:**
- [x] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [ ] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] documentation request

**Current behavior:**

- Not impleme

[2022-01-12 21:01] s7117 commented on #22
I am not sure if the datasets are the exact same, but I followed the forks of the repo and found some datasets [here](https://github.com/SullyChen/driving-datasets). The data format seems to be similar with the filename (*.jpg) and the steering wheel angle.

Fork trace:
[AutoDeep/PilotNet](https://github.com/AutoDeep/PilotNet) forked from [s7ev3n/Nvidia_Autopilot_with_DriveActivation](https://gith

[2022-01-12 23:00] bamsumit commented on #22
@s7117 Thanks a lot for digging it out. It looks like they are same. I'll do some more checks and update the link.

[2022-01-14 11:02] biphasic opened #32 "build fails when installing lava-dl on top of lava 2.0 binaries"
That's the output I get: https://pastebin.com/0V4WtZPq
I'm on Ubuntu 20.04, conda 4.10.3 and Python 3.9.7.

[2022-01-14 17:02] bamsumit commented on #32
Hi @biphasic, can you try `python -m unittest` and see of that works?

[2022-01-18 17:32] biphasic commented on #32
Hello, I got it working in the end when I managed to build lava from source on another machine. Closing this for now.

[2022-01-18 17:32] #32 closed

[2022-01-18 21:17] #24 closed

[2022-01-19 19:17] #22 closed

[2022-02-02 11:17] lukaszpindor opened #33 "[BUG] Salyer - Application of normalization function in CUBA neuron"
Objective of issue:
Normalization function in CUBA neuron is applied on "input" variable which has no effect on code.

**Lava version:**
- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm submitting a **

- [x] bug report
- [ ] feature request
- [ ] documentation request

**Current behavior:**
![image](https://user-images.githubus

[2022-02-10 17:29] remotepilotsam opened #34 "[Errno 2] No such file or directory: 'gifs/inp0.png'"
Objective of issue:  No such file or directory error

**Lava version:**
- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Current behavior:**
When I run this cell:

output = net(input.to(device), mode=scheduler.mode(100, 0, False))
for i in range(5):
    img = (2*input[i].reshape(28, 28).cpu().data.numpy()-1) * 255
    Image.fromarra

[2022-02-10 18:48] mgkwill commented on #33
Hi @lukaszpindor. Thanks for reporting this!

@bamsumit any thoughts?

[2022-02-10 19:04] mgkwill commented on #20
Hi @GoHeFa did @bamsumit's suggestion fix the issue?

[2022-02-10 23:34] GoHeFa commented on #20
@mgkwill Unfortunately, it's currently not possible for me to test the suggestion, hence I can't tell you.

[2022-02-11 14:08] bamsumit commented on #33
It looks like a bug. Thanks @lukaszpindor. I'll issue a fix.

[2022-02-11 16:27] #33 closed

[2022-02-12 08:33] bamsumit commented on #34
Hi @remotepilotsam I am assuming you are trying to run the nmnist notebook. There should already be a gifs folder: https://github.com/lava-nc/lava-dl/tree/main/tutorials/lava/lib/dl/slayer/nmnist/gifs

Just try running this line alone and check if the gif is saved in the folder
[code]

If you have copied the notebook elsewhere, can you make sure the folder exists?

[2022-02-14 20:48] remotepilotsam commented on #34
Hello @bamsumit yes, it is the MNIST notebook. Thank you for the instructions.  The images are in that folder, and I have the notebook saved in the lava-dl-main folder.  Should the notebook be somewhere else?

[2022-02-15 03:09] bamsumit commented on #34
Hi @remotepilotsam , either run the notebook from original location. Or create a `gifs` folder where your notebook is. That should do it.

[2022-03-01 05:09] #29 closed

[2022-03-02 19:18] bamsumit opened #36 "Streamline PilotNet SNN notebook using RefPorts"
Objective of issue:
Streamline PilotNet SNN notebook using RefPorts

**Lava version:**
- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] documentation request

**Current behavior:**

- Current notebook uses var.set/get api

**Expected behavior:**

- Use refports api

[2022-03-04 13:01] ahmetakman opened #39 "Correction for installation from binaries."
Hello,
It seems the installation procedure given for installing from binaries is copy-pasted from the main lava repository and may lead others to reinstall main lava instead of installing lava-dl.
A possible correction might be `pip install lava-dl-0.1.1.tar.gz `
Sincerely,

PS. I am having problems with pybuilder in every lava repository in every os constantly. This might be stemmed from both the

[2022-03-04 20:17] VishalPathak-GTRI opened #40 "NMNIST Training Notebook CUDA Error"
Objective of issue:

Hello, so I've been struggling getting the training notebook for the NMNIST example set up and working. I've been able to set up an environment that has all the necessary dependencies installed, but when I run the cell to actually execute the training loop I get the following error:

![image](https://user-images.githubusercontent.com/89528877/156835292-2e08ea31-896b-4d4c-b458-

[2022-03-04 21:15] mgkwill commented on #39
Hi @ahmetakman. Thanks for pointing this out. The installation instruction should be updated.

As far as the pybuilder issue, I'm aware of it. I'm in the process of migrating away from pybuilder for build, linting, unit test runs for the release we are working on right now.  When this migration is finished the docs will be updated to match. Stay tuned.

[2022-03-04 21:26] ahmetakman opened #41 "About installation procedure unittests"
Objective of issue:
Hello,
I have got an error while following the installation procedure on my Ubuntu 20.04 system. I have installed the lava core packet beforehand. I could not figure out why such an error I am getting so I am giving the whole terminal output.

**Lava version:**
- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm

[2022-03-08 19:07] VishalPathak-GTRI commented on #20
Has anyone else had this issue? I'm having the exact same problem at the moment, here are some of the requested outputs:

![image](https://user-images.githubusercontent.com/89528877/157307528-98118b98-f9b2-43be-9ad8-77c7b21c72f1.png)
![image](https://user-images.githubusercontent.com/89528877/157307589-31859c59-f9ea-4f10-a9f0-33b6328ffc58.png)

[2022-03-08 22:59] bamsumit opened #43 "Unittest failing with lava tip"
Objective of issue:

**Lava version:**
- [x] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [ ] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**Current behavior:**

- tests/lava/lib/dl/netx/test_hdf5.py fails

**Expected behavior:**

- tests/lava/lib/dl/netx/test_hdf5.py needs to pass

**Steps t

[2022-03-08 23:05] bamsumit commented on #41
Hi @ahmetakman it looks like you are using the latest version of lava-dl but not the latest lava repo. Can you update your lava to the latest version from git and try it again.

[2022-03-08 23:13] bamsumit commented on #20
@VishalPathak-GTRI are you also running it in WSL-2?

First thing I would check is to check if you can compile and run cuda code using nvcc.

[2022-03-09 12:39] ahmetakman commented on #41
I am using 0.2.0 for lava-nc and 0.1.1 for lava-dl. I have struggled to install following the normal install procedure from git directly (As can be observed from the issues I have opened). So, I had to install the from binary by release version. I assume you mean the repository update as the latest version. I will try to install them again from scratch.

[2022-03-09 16:01] bamsumit commented on #41
Great. Can we close this issue then?

[2022-03-09 16:02] #36 closed

[2022-03-09 16:42] ahmetakman commented on #41
Yeah, of course.

[2022-03-09 19:24] ahmetakman opened #49 "No module named 'dynamics' in OXFORD Training Notebook"
When I try to run the SLAYER oxford training notebook, I have faced the problem ' ImportError: No module named 'dynamics' '  in the Training Loop step. This is probably originated from PyTorch but I could not find any other people who experienced this error. On the other hand, I could not find an appropriate dynamics module.

All the best,
Ahmet

[2022-03-09 21:50] ahmetakman commented on #49
UPDATE:   this has only happened on my Windows computer (CUDA enabled version 10.2) . When I have tried to run it on my Ubuntu system I have not faced such a thing (No CUDA ,  only CPU). There was almost no difference between software setup
 other than the processing unit.

[2022-03-10 19:07] ahmetakman opened #50 "About some problems occurred in the NMNIST training example in Windows"
Hello,
Currently, I am running/trying to run NMNIST training example on my both computers one of them is Windows and uses CUDA, and the other one is an Ubuntu computer with no CUDA support.
I am running the notebook successfully on my Ubuntu computer without a problem but since it is only CPU (an old one) it is quite slow as expected.

For windows, there are some problems, and probably just becaus

[2022-03-11 13:31] ahmetakman opened #52 "About CUDA version compatibility"
Objective of issue: I have been trying to make a clear installation to my another newly set up Ubuntu computer . Since it is CUDA enabled I have been trying to install CUDA by 'sudo apt install nvidia-cuda-toolkit' however this command installed my computer CUDA version 10.1 . Which then caused bunch of errors installing 'lava-dl' . The 10.1 version can cause some incompatibility issues because of

[2022-03-13 19:09] ahmetakman opened #53 "NetX Dimension Seems Lost"
Hello,
I have trained  the 3 fully connected layer network using NMNIST dataset ( using the tutotorial notebook )

When I try to convert this model to the process network I have got the dimension different.
 The network blocks in Slayer was;
self.blocks = torch.nn.ModuleList([
                slayer.block.cuba.Dense(neuron_params_drop, 34*34*2, 512, weight_norm=True, delay=True),
                s

[2022-03-14 09:28] ahmetakman opened #54 "The Input dimensions of the CUBA and other blocks"
Hello,
I am simply trying to train a simple network to re-train a simple network of which has layers

        self.blocks = torch.nn.ModuleList([
                slayer.block.cuba.Input(neuron_params),
                slayer.block.cuba.Dense(neuron_params_drop, 34*34*2, 512, weight_norm=True, delay=True),
                slayer.block.cuba.Dense(neuron_params_drop, 512, 512, weight_norm=True, delay

[2022-03-14 09:37] ahmetakman opened #55 "Hanging code block issue"
Hello,

I have been re-attempting to train  another network on NMNIST dataset ,but I am getting the issue #54 .
In addition, currenty when I try to run the NMNIST training code directly from tutorial ( It was working properly yesterday ) the code is hanging in the training notebook block inconsistenly. Setup is same, tutorial is same , variables are same but the code is hanging this is another pro

[2022-03-14 17:43] ahmetakman commented on #55
UPDATE : I find out that , the code is working with CPU but not working GPU even though CUDA initializes and `torch.cuda.isavailable()` turns "True" .  I am looking for solutions in the PyTorch forum if I can solve I will update here.

[2022-03-16 21:05] bamsumit commented on #40
Hi @VishalPathak-GTRI wanted to check if you are able to run all the unittests.

It looks like you don't have cuda enabled machne. If you don't have GPU capable machine, you would want to set the code to use CPU instead.

[code]
in block 4 of the notebook.

[2022-03-16 21:13] VishalPathak-GTRI commented on #40
So I actually am on a SLURM based GPU manager using CentOS; I have confirmed torch installation for GPU usage with `torch.cuda.is_available`, and with `torch.cuda.get_device_name(0)`. However despite this I have issues with the notebook. There seems to be another post that I also replied on that is having similar issues.

[2022-03-16 21:16] bamsumit commented on #50
Hi @ahmetakman, thanks for pointing out the windows path issue on `tutorials/lava/lib/dl/slayer/nmnist/nmnist.py`. We will issue a fix on that soon.

On the error, can you post the detailed error output?

Also can you post the output of the following commands?
[code]

[2022-03-16 21:21] bamsumit commented on #52
Hi @ahmetakman , cuda version compatibility depends on the actual hardware and nvidia drivers you have installed in your system. So it can't be generalized in the requirements. For your specific case, I would uninstall torch
[code]
and install it from the command set from with your cuda version, OS and package combination [pytorch.org](pytorch.org)
![image](https://user-images.githubusercontent.co

[2022-03-16 21:26] bamsumit commented on #53
@ahmetakman your network, as you defined in `self.blocks`, has two hidden layers and one output layer of dimensions 512, 512, and 10 respectively. So it does make sense to get the dimension of the network as 512, 512, and 10 when you load the network, isn't it?

[2022-03-16 21:38] bamsumit commented on #54
Hi @ahmetakman, SLAYER neurons can determine their shape during runtime based on the input they get for the first time. So what you have got above is technically correct.

Since the next dense layer expects `34*32*2` input neurons in your code, your input block should also be initialized to the same dimension. This in turn means that the input data you feed into the network should also be the same

[2022-03-16 21:49] bamsumit commented on #40
Try this piece of code in python interpreter in your virtual environment and see if you get the error:
[code]

[2022-03-16 21:54] bamsumit commented on #55
Hi @ahmetakman, can you also try and run these commands in python interpreter and see if it executes? https://github.com/lava-nc/lava-dl/issues/40#issuecomment-1069669742

Since you say it was running the day before, have you tried restarting your system?

[2022-03-17 10:19] ahmetakman commented on #49
I have switched my widows system completely to ubuntu. There seems no problem related to this issue but other problems happened about CUDA-GPU . Since I have switched the OS I currently can not reproduce the problem unfortunately.

[2022-03-17 16:22] ahmetakman commented on #50
Well , I have switched my OS to Ubuntu ,but my CUDA version was 10.2 and my graphic card is GTX 1650 (I do not remember the driver version but it was probably 470) . I can not reproduce the error right now but I have not faced this particular issue in Ubuntu.

[2022-03-17 17:08] ahmetakman commented on #52
The thing  I am mentioning about requirements lava-dl requirement is torch 1.8.1 which constrains the CUDA version options. I am trying to figure out what might be the problem right now which is probably also about the #55 . I am installing different cuda and driver versions with different torch versions.

[2022-03-17 17:11] ahmetakman commented on #53
I though the dimension should be
Dense : Process_1 , shape : (34*34*2,512)
Dense : Process_4 , shape : (512,512)
Dense : Process_7 , shape : (512,10)
As were in the NetX examples.

[2022-03-17 17:13] ahmetakman commented on #54
Thanks for the explanation If i can solve the issue #55  I will come back and try again.

[2022-03-17 17:16] ahmetakman commented on #55
Yeah it executes successfully without any error
![Screenshot from 2022-03-17 20-15-40](https://user-images.githubusercontent.com/24481964/158857045-9f0d1b83-3555-4e2b-bb28-90bdafcace2f.png)
.

[2022-03-17 18:51] bamsumit commented on #55
Did you try restarting your system?

[2022-03-17 18:56] bamsumit commented on #53
Look at the dense block definition in [PilotNet SDNN training](https://github.com/lava-nc/lava-dl/blob/main/tutorials/lava/lib/dl/slayer/pilotnet/train.ipynb)
![image](https://user-images.githubusercontent.com/29907126/158875721-ed81419e-ce13-4e5d-94f3-2436aaf145aa.png)
and the shapes in [PilotNet SDNN inference](https://github.com/lava-nc/lava-dl/blob/main/tutorials/lava/lib/dl/netx/pilotnet_sdnn

[2022-03-17 19:27] VishalPathak-GTRI commented on #40
Alright, so I'm still having some issues but I think I can provide more information in order to get some advice:

![image](https://user-images.githubusercontent.com/89528877/158880435-fc85a6d4-5dc3-4d9a-8b81-fa1167c05e15.png)

That image is of the unittests for lava passing successfully.

![image](https://user-images.githubusercontent.com/89528877/158880534-79e58826-95e6-4945-b188-54f23e91f325.png

[2022-03-17 19:44] bamsumit commented on #40
Okay, you have a problem using GPU from torch. Looks like there is a cuda version mismatch between your torch installation and Nvidia drivers.

Let's see the output of the following commands
[code]

[2022-03-17 19:48] bamsumit commented on #55
Are you able to run unittests on Lava-DL successfully?

[2022-03-17 19:51] VishalPathak-GTRI commented on #40
Happy to oblige, but I did just figure something out first; I am accessing GPUs off a remote cluster. I have been consistently working on a TeslaK20Xm and I tried to grab a GeForceGTX1080Ti and the error that I linked above has disappeared.

![image](https://user-images.githubusercontent.com/89528877/158883816-63849141-63d1-45c2-bca9-ed0952b708d1.png)

The above image shows the accuracy of the uni

[2022-03-17 19:57] bamsumit commented on #40
Okay there is quite a bit of mismatch in your cuda versions
* Your torch installation is for cuda 10.2
* Your nvidia driver is for cuda 11.2
    * This is the reason you are getting no kernel image available as there is no runtime for cuda 10.2 in torch
* Your nvcc compiler is for cuda 10
    * You will encounter problems when you use lava-dl compiled codes

Bottom line: __the cuda versions of all

[2022-03-18 12:56] ahmetakman commented on #55
Yes I am. I have ran the unittests successfully couple of times and I will try again to verify .

[2022-03-18 12:58] ahmetakman commented on #53
I have mistaken the error about the dimensions I got when was connecting the processes. I will try again soon ,and write back. Thanks for the reply.

[2022-03-20 20:06] ahmetakman commented on #55
UPDATE : The unittests are no longer passing right now (seems because of a cuda issue).
The current setup;
GPU: GTX1650
Nvidia Driver : v510
CUDA version 10.1
torch version 1.8.1+cu101 (simple torch cuda operations are working correctly)

The problem I have mentioned in #52  is exactly like that but even if recover the unittests with different cuda setup (which was cuda version 11.3 and driver ver

[2022-03-21 09:34] ahmetakman commented on #55
I have a question. Would the lava-dl work in the setup of newer torch versions than 1.8.1 ?

[2022-03-21 15:42] bamsumit commented on #55
Yes. I have it running on multiple different cuda and torch versions. The most newest config that works for me is __torch 1.11.0__ with __cuda 11.3__

[2022-03-21 19:30] ahmetakman commented on #55
So the the installation done by poetry is outdated ?

[2022-03-21 19:53] bamsumit commented on #55
No, everything still works with __torch 1.8.1__. That is the recommended version. Everything was fully tested and developed with that version of torch.

I am just confirming that we have it working with newer torch version if you have problems installing torch 1.8.1

[2022-03-21 20:27] VishalPathak-GTRI commented on #55
What CUDA version would you say is best to run all test code?

[2022-03-21 20:50] bamsumit commented on #55
@VishalPathak-GTRI the latest cuda version is always good if you can install it.

[2022-03-21 21:17] bamsumit commented on #55
@ahmetakman can you post the full debug output?

[2022-03-22 17:17] ahmetakman commented on #55
UPDATE: I have updated my CUDA to 11.3 and installed latest torch version. Then I have ran the unittests. Unittests also hangs at `tests/lava/lib/dl/slayer/utils/filter/test_conv_filter.py `

When I interrupt the run  I am getting quite similar traceback with the code hanging issue.
 Here it is :
(.venv) ahmetakman@ahmetakman-ABRA-A5V15-2:~/lava-dl$ pytest
=========================================

[2022-03-22 17:34] timcheck opened #57 "NMINST tutorial not utilizing full GPU"
Objective of issue:
- Increase GPU utilization.

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [

[2022-03-22 19:11] bamsumit commented on #55
@ahmetakman so you forced the unittest to stop after 5 minutes? The _first time_ you run it, it needs to compile all the cuda binaries so it can take a while. I don't see any failures in the log [here](https://github.com/lava-nc/lava-dl/issues/55#issuecomment-1075412542)

[2022-03-22 19:23] ahmetakman commented on #55
Well , I have ran the same unit tests successfully before and it  approximately  took 2 minutes every time ( done that multiple times. )  . So it was not the first time. Also, I have waited more than 30 minutes just  before I did this ,and reproduced the error (hanging) to send here. Another point is, the computer resources become unused after 1.5 minutes and it waits infinitely.

[2022-03-22 19:39] ahmetakman commented on #53
Let me come back to here,

First of all, I am not sure my environment is fully utilized but at some point I have a system with barely passing unit tests with hanging code block issue #55 .

Here my interpretation about NetX dimensions is still because of the current error I am getting. Let me summarize my goal then give the error.

 I would like to run trained NMNIST model with lava core by using

[2022-03-22 20:28] bamsumit commented on #53
Aren't you supposed to connect the `dataloader.s_out` to `net.in_layer.synapse.s_in` ? It seems you are bypassing the syanpse of the first layer!

[code]

[2022-03-22 20:34] bamsumit commented on #55
So are you getting the hanging behavior on `tests/lava/lib/dl/slayer/utils/filter/test_conv_filter.py` consistently?

If that's the case can you post the log of the following
[code]

[2022-03-22 20:52] ahmetakman commented on #55
Yeah that is correct
Here it is =
pytest -m unittest test_conv_filter.py
=========================================================================================== test session starts ===========================================================================================
platform linux -- Python 3.8.10, pytest-7.0.1, pluggy-1.0.0
rootdir: /home/ahmetakman/lava-dl, configfile: pyproject.toml
p

[2022-03-22 21:02] bamsumit commented on #55
its `python -m unittest test_conv_filter.py` not __pytest__

[2022-03-22 21:03] ahmetakman commented on #53
Yeah that was it, now I have connected processes the run config is running right now.

Thank you very much for the explanation. I sincerely thank for your patience.

I am actively learning the lava-ecosystem, SNNs ,and the new computers I am running them on.
Until I completely got the structure, I think it is natural to misunderstand some concepts.

I am closing the issue,
All the best,
Ahmet.

[2022-03-22 21:03] #53 closed

[2022-03-22 21:04] bamsumit commented on #53
No problem @ahmetakman, happy to clarify any confusion.

[2022-03-22 21:34] ahmetakman commented on #55
Sorry for the mistake ( it is quite late hours here ).

I have corrected it and reran. Yes it is hanging. I have waited more than 20 minutes and observed resource usage no change occurs. When I interrupt I got this traceback which was essentially the same one in the objective of issue.
ython -m unittest test_conv_filter.py
^CTraceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py",

[2022-03-22 21:43] bamsumit commented on #55
Okay. This looks like a known PyTorch issue. Can you try this fix https://github.com/zhou13/neurvps/issues/1#issuecomment-820898095 and see if it works?

[2022-03-23 08:46] ahmetakman commented on #55
Oh, thanks. This seems the same issue. I have run the conv test and all unittests without a hanging issue. Now I am running the NMNIST training again (it seems it is working right now). I have got the first epoch right. So, I am closing the issue.

[2022-03-23 08:46] #55 closed

[2022-03-24 17:34] ahmetakman opened #59 "About Multiple GPU's Training Support"
Objective of issue:
Helllo,
I am curious about how one can train a network in SLAYER with the support of multiple GPU's.
 I simply tried adding the lines  `net= torch.nn.DataParallel(net)   net.to(device)` . in standard NMNIST notebook, but it did not work after first epoch.

 Is or Will there be any slayer adaptation of multi GPUs  training support ?

If one can use the multi GPU training utiliti

[2022-03-24 21:43] Barchid commented on #59
I am wondering: what kind of error do you have after this first epoch?

If this is related to `slayers.utils.Assistant`, I made a small project that uses `pytorch-lightning` instead of the default Assistant. You can try the built-in multi-gpu support of Lightning instead of the Assistant, you might be luckier with it.

The project: https://github.com/Barchid/lava-dl-lightning . For the moment, I m

[2022-03-25 09:02] ahmetakman commented on #59
Yeah, I saw the discussion topic you have opened. Congratulations on the effort.  I will consider your suggestion, but I am curious about a more native solution in lava-dl. Of course, one can also utilize multiple GPUs feature of some other libraries. I am wondering if there are any plans of adding (or adapting) such a feature so that it would be scalable to all SNNs (Slayer defined). This is a po

[2022-03-25 13:45] Barchid commented on #59
Thank you for your consideration :smile:

If I understood well the philisophy of Lava-DL, the whole `slayer` module is a pytorch wrapper to perform some offline training before deploying a network in the Loihi using `netx`. In that fashion, using any other pytorch library should work, as long as the exported neural net can be deployed on neuromorphic hardware.

I don't know if there is any plan on

[2022-03-27 20:26] franzhd commented on #40
Hello, i managed to make cuda the same version as nvcc as i show in the screen.
![image](https://user-images.githubusercontent.com/58605124/160299528-313a2c62-71f4-48fb-931d-4e755882fb84.png)
But the test still give me the same error "CUDA error: no kernel image is available for execution on the device" and the same test coverage.
![image](https://user-images.githubusercontent.com/58605124/1602995

[2022-03-27 21:49] ahmetakman commented on #40
You can look at the #55 for some similar issue and investigate my case.
There are two things I would like to mention. First I think there is no PyTorch version for CUDA 11.6 the latest one is for 11.3.
Secondly I strongly disagree with @bamsumit . Nvidia driver cuda runtime version is only about compatibility need not to be same with torch cuda version and nvcc compiler version. However installed

[2022-03-28 22:03] bamsumit commented on #40
@VishalPathak-GTRI as I said you want to have your cuda versions for __torch__, __nvcc__ and __nvidia drivers__ at the same version if you can. You can sometimes make things work with different versions, but that's not always guaranteed. You can dig into nvidia cuda [compatibility documentation](https://docs.nvidia.com/deploy/cuda-compatibility/index.html#minor-version-compatibility) for details.

[2022-03-29 00:27] bamsumit commented on #59
@ahmetakman There is a quirk for running lava-dl slayer models with some neuron models due to the __automatic shape inferencing feature__ of lava-dl slayer. You may refer to this solution: https://github.com/lava-nc/lava-dl/issues/26

### Short explanation
Basically, we lava-dl slayer does not need the neuron layers to be defined with the correct shape. These shapes are identified on the first inf

[2022-03-30 11:19] ahmetakman opened #63 "About NetX visualization ,and conversion to others"
Hello, I would like to suggest a feature. There are a bunch of available visualization modules for the onnx models, pytorch models and so on. And, there are web visualizers like netron.app. If there would be available visualization (or proper conversation) for NetX it would be quite easy to understand what is going on with the network. For example, I am trying to map the nmnist model to lava conne

[2022-03-31 02:26] bamsumit commented on #63
You can simply __print__ your network and see what the network is composed of. We don't have immediate plans to have a visualizer for it.

If you want to visualize your network, the easiest supported way is to use `torchviz` to visualize your SLAYER or Bootstrap model.

If you want to visualize your hdf5 `network.net`, you can load it as a SLAYER network using [`slayer.auto`](https://lava-nc.org/l

[2022-04-02 01:53] bamsumit opened #65 "Slayer Recurrent block: wrong synapse when bias is present"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-04-04 09:40] ahmetakman opened #66 "NetX NMNIST Tutorial"
The objective of the issue: I have created a notebook that implements the conversion of the network created in the Slayer NMNIST tutorial. This issue is opened for the pull request.

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
-

[2022-04-21 08:03] fangwei123456 opened #68 "`netx.hdf5.Network` raises the error `AttributeError: 'str' object has no attribute 'decode'`"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-04-21 17:20] bamsumit commented on #68
It looks like your h5py version is not compatible. There is a requirement to have it above `3.1.0`.

It should have been handled by the project requirements: https://github.com/lava-nc/lava-dl/blob/main/pyproject.toml (line 52) when you do `poetry` install.

[2022-04-22 07:22] fangwei123456 commented on #68
Thanks, I slove this problem by update h5py.

[2022-04-22 07:22] #68 closed

[2022-04-29 09:14] uslumt opened #69 "Boostrap MNIST tutorial"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-04-29 18:27] bamsumit commented on #69
@uslumt Thanks for raising the issue.

Can you try changing line 64 in `tutorials/lava/lib/dl/bootstrap/mnist/mnist.py` to
`return x, torch.FloatTensor(count).reshape((1, -1)).to(x.device)`

and let us know if that works for you. If it works, we will issue a fix.

[2022-05-02 22:12] bamsumit opened #70 "SLAYER ALIF neuron's forward function uses wrong spike function signature"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-05-02 22:14] bamsumit commented on #39
@ahmetakman is this issue resolved?

[2022-05-02 22:15] bamsumit commented on #40
@VishalPathak-GTRI is this issue resolved?

[2022-05-13 10:51] uslumt commented on #69
Hello,
return x, torch.FloatTensor(count).reshape((1, -1)).to(x.device) and return x, torch.FloatTensor(count).reshape((1, -1)).to(device) works fine but as I mentioned in the issue get_device function returns negative index.
Thanks for your interest, I hope it'll be helpful for other developers.

[2022-05-16 15:26] bamsumit commented on #69
Exactly. `x.device` does not return an integer like `get_device()`, so it should work for both cases.

[2022-05-17 11:36] alexggener opened #73 "SLAYER CuBa Conv block with spikes"
Hi.

I'm trying to replicate the SNN network SpikeMS (https://github.com/prgumd/SpikeMS) developed in SLAYERpytorch with the lava-dl. The SpikeMS implementation contains 6 Convolutional layers that process spikes in the following Tensor format
`Tensor=[n_channels, height, width, num_time_bins ]` as in NMNIST dataset lava-dl provides.

The current SNN implementation I have for the moment is the fol

[2022-05-17 14:53] alexggener opened #74 "About SLAYER deConv feature"
Objective of issue: Introducing SLAYER deConv block

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [ ] **0.3.0** (current version)
- [x] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request

[2022-05-18 09:45] alexggener commented on #74
@bamsumit Thanks for pointing us to the right direction. Implementing it on the block api seems doable so we'll try to contribute to it. Any guidance during the process would be appreciated.

[2022-05-18 17:50] bamsumit opened #75 "Update notebooks with new hyperparameters"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-05-18 18:24] bamsumit opened #77 "Lava lif neuron and slayer lif neuron mismatch"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-06-09 13:06] franzhd opened #82 "No CUDA runtime is found, using CUDA_HOME='/usr'"
Hello everyone, i have this error:
"No CUDA runtime is found, using CUDA_HOME='/usr' "

each time i import stuff from slayer like "import lava.lib.dl.slayer as slayer" . Asking torch.cuda.is_available() in a python3 shell inside the env does tell me that CUDA is available.
pytest pass all necessary steps.
Anyone has suggestion on how to resolve this problem?
thanks for your attention!

Objective o

[2022-06-09 18:14] bamsumit commented on #82
Can you post the outputs of these commands
[code]

[2022-06-11 10:06] franzhd commented on #82
![image](https://user-images.githubusercontent.com/58605124/173183372-6eb7109a-cf8e-4044-bb14-ebf286f0c4ea.png)

[2022-06-13 00:31] bamsumit commented on #82
As long as `nvcc` and `torch` CUDA version match, it should be okay.

Can you try this:
1. Find cuda installation path: `which nvcc`
2. Make sure `<cuda_path>/home` exists (try `ls ...`)
3. `export CUDA_HOME=<cuda_path>/home`

and try running the unittests. `python -m unittest`

[2022-06-24 08:10] uslumt commented on #20
Hello everyone, I'm able to train pytorch model on gpu using cuda however with the same set up on LAVA blocks gives an error.
torch                        1.10.1+cu111
torch-encoding               1.2.1
torchaudio                   0.10.1+rocm4.1
torchsummary                 1.5.1
torchvision                  0.11.2+cu111

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corpor

[2022-07-12 23:42] megalover opened #83 "SNN model for load forecasting using Lava framework implementation on Loihi 2"
@mgkwill
I am working on a project about creating an SNN model for load forecasting (Time-series data) on the Lava framework. However, I am struggling to implement SNN with time-series data.
Could you give a simple example to use the SNN function of time series? I apologize for this may disturb you, I am a green hand.

In any case, thanks for your help.

[2022-07-22 17:28] mgkwill opened #85 "Update dependency versions"
Objective of issue: Update dependency versions to latest specified by @bamsumit

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug

[2022-07-22 18:49] #65 closed

[2022-07-22 18:49] #70 closed

[2022-07-22 18:49] #77 closed

[2022-07-22 21:37] bamsumit opened #87 "Broken changes with lava 0.4.0"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.5.0** (feature release)
- [ ] **0.4.1** (bug fixes)
- [x] **0.4.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-07-25 14:47] #87 closed

[2022-08-08 08:38] ahmetakman opened #90 "Conda availability"
I was going to update to the new version of lava. I am curious whether lava-dl will be available to be installed from conda ?

Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
-

[2022-08-09 20:34] bamsumit commented on #90
Hi @ahmetakman, yes lava-dl is available on conda: https://github.com/conda-forge/lava-dl-feedstock. I have not tried it personally though. I think Prof. Tobias Fischer is the maintainer of it.

[2022-08-09 20:34] #90 closed

[2022-08-10 07:29] ahmetakman commented on #90
got it, thanks

[2022-08-15 22:23] #85 closed

[2022-08-17 23:52] rhendz opened #92 "NETX library fails to convert simple slayer classification network to a lava process"
Objective of issue: I trained an [IRIS](https://archive.ics.uci.edu/ml/datasets/iris) network using the slayer library to near 100% accuracy and converted it over to a lava process using the netx library; however, the accuracy is not the same (about 33%). I need documentation or examples on how to convert a network trained via slayer over to a lava process with minimal accuracy loss if possible.

[2022-08-31 16:23] nskat opened #97 "Training deep SNNs with DECOLLE"
Objective of issue:
Implementation of the training algorithm DECOLLE (Kaiser et al. 2020)

**Lava DL version:**
- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**I'm submitting a ...**
- [ ] bug report
- [x ] feature request
- [ ] documentation request

**Current behavior:**
Currently, only training with SLAYER is implemented and doc

[2022-09-01 19:18] Ajay-B-S opened #99 "RuntimeError: Number of dimensions of repeat dims can not be smaller than number of dimensions of tensor"
Hi
what is the cause of below issue during training. Need solution at the earliest.

MyDataset is like this:

      event_d is EMG data of 1041 sets, each with 42000 samples (sampling rate of 700Hz and for 60s).  event_c is np.ones(42000) and event_t is (list(float_range(0, 59.976, '0.001428'))), 0 is the start , 59.976 is the stop and 0.001428 is the step.

        inputSpikes = slayer.io.Event(

[2022-09-02 16:33] mgkwill commented on #99
@bamsumit can you take a look at this?

[2022-09-10 15:58] Ajay-B-S commented on #99
The issue was this dim of input and label. With corrected dim, the issue is not seen

[2022-09-10 15:58] #99 closed

[2022-09-15 08:31] fangwei123456 opened #101 "Bugs in pool when stride is odd"
https://github.com/lava-nc/lava-dl/blob/8c278fc30ee239cb2e904ad99304b4f415ef6d1e/src/lava/lib/dl/slayer/synapse/layer.py#L502

Hi, I find that when using `slayer.synapse.Pool` with odd strides, it will cause an error:
[code]

[code]

[code]

[2022-09-16 18:57] timcheck opened #102 "Accelerate recurrent SNN training"
Objective of issue:

**Lava DL version:**

- [x] **0.2.0** (current version)

**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] documentation request

**Current behavior:**

- Recurrent SNN training speed scales with network size poorly

**Expected behavior:**

- Recurrent SNN training should scale no worse than to be expected from BPTT

[2022-09-20 01:31] #102 closed

[2022-09-20 02:39] fangwei123456 opened #104 "Variable name bug in `block.AbstractInput`"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documentation request

**

[2022-09-22 02:14] bamsumit opened #108 "PilotNet does not run on Loihi"
Objective of issue:
NetX does not support running PilotNet on Loihi

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [x]

[2022-09-22 02:39] bamsumit commented on #82
Hi @franzhd any progress?

[2022-09-22 02:40] #74 closed

[2022-09-22 02:41] #59 closed

[2022-09-22 02:41] #54 closed

[2022-09-22 02:42] #52 closed

[2022-09-22 02:42] #50 closed

[2022-09-22 02:42] #49 closed

[2022-09-22 02:43] #40 closed

[2022-09-22 02:43] #39 closed

[2022-09-22 02:43] #21 closed

[2022-09-22 20:13] #108 closed

[2022-09-26 16:06] #104 closed

[2022-10-15 10:20] fangwei123456 opened #114 "Bug of device and dtype of `WgtScaleBatchNorm.std`"
Objective of issue:

**Lava DL version:**

- [x] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [ ] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [x] **0.5.0**
- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [ ] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documenta

[2022-10-15 10:20] fangwei123456 opened #115 "Bug of device and dtype of `WgtScaleBatchNorm.std`"
Objective of issue:

**Lava DL version:**

- [x] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [ ] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [x] **0.5.0**
- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [ ] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] documenta

[2022-10-15 10:32] fangwei123456 commented on #114
Because of the network problem, I create two same issues. Now I close the duplicated issue.

[2022-10-15 10:32] #114 closed

[2022-10-24 22:46] #115 closed

[2022-10-24 23:26] bamsumit opened #118 "PilotNet SNN tutorial doesn't run on Loihi yet"
Objective of issue:
PilotNet SNN tutorial doesn't run on Loihi yet

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [x] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [x]

[2022-10-25 23:36] #118 closed

[2022-11-18 16:55] Michaeljurado42 opened #129 "Create dense needs to use "complex_dense" key"
Objective of issue: Small issue in create_dense. Needs to check for "complex_dense"

**Lava DL version:**

- [x] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [x] **0.4.0** (feature release)
- [ ] **0.3.1** (bug fixes)
- [] **0.3.0** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [x] bu

[2022-11-18 17:16] Michaeljurado42 commented on #129
I'll post a fix for this soon.

[2022-11-29 05:25] bamsumit opened #132 "Lava-dl decolle extension is not linked in Readme"
Objective of issue:

**Lava DL version:**

- [ ] **0.3.0** (feature release)
- [ ] **0.2.1** (bug fixes)
- [x] **0.2.0** (current version)
- [ ] **0.1.2**

**Lava version:**

- [ ] **0.4.0** (feature release)
- [ ] **0.3.3** (bug fixes)
- [x] **0.3.2** (current version)
- [ ] **0.2.0**
- [ ] **0.1.2**

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] documentation request